<!DOCTYPE html>
<html>

<head>
    <title>
        博客后台管理
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style>
        table {
            visibility:hidden;
        }
        table * {
            text-align: center;
        }
        table td{
            padding:5px 0;
            border:1px solid #ddd;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">用户管理</a>
            <p class="navbar-text">欢迎
                <% if(isAdmin) { %>
                <%= admin %>
                <% } %>
                管理员来到博客网
            </p>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">用户首页</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="">
                    <a href="/layout">注销</a>
                </li>
            </ul>
            <form class="navbar-form pull-right">
                <input type="text" class="form-control" style="width: 200px;" placeholder="输入用户名">
                <button type="submit" class="btn btn-default" id="search">搜索用户</button>
            </form>
        </div>
    </nav>

    <div class="container" style="padding-top:20px">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group text-center">
                    <a href="#" class="list-group-item active" id="common">普通用户管理</a>
                    <a href="#" class="list-group-item" id="vip">VIP用户管理</a>
                    <a href="#" class="list-group-item" id="admin">Admin用户管理</a>
                    <a href="#" class="list-group-item" id="blog">博客管理</a>
                </div>
            </div>
            <div class="col-md-6">

                <table class="table table-bordered table-hover" id="commonusers">
                    <tr>
                        <th>普通用户</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control">
                        </td>
                        <td>
                            <input type="password" class="form-control">
                        </td>
                        <td>
                            <button type="button" data-id="users" class="btn btn-primary addusers">添加</button>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered table-hover" id="vipusers">
                    <tr>
                        <th>VIP用户</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control">
                        </td>
                        <td>
                            <input type="password" class="form-control">
                        </td>
                        <td>
                            <button type="button" data-id="vip" class="btn btn-primary addusers">添加</button>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered table-hover" id="adminusers">
                    <tr>
                        <th>Admin用户</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control">
                        </td>
                        <td>
                            <input type="password" class="form-control">
                        </td>
                        <td>
                            <button type="button" data-id="admin" class="btn btn-primary addusers">添加</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">搜索结果</h3>
                    </div>
                    <div class="panel-body">
                        <table id="result" class="table table-bordered table-hover" style="visibility:visible">
                            <tr>
                                <th>权限</th>
                                <th>用户名</th>
                                <th>密码</th>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" id="clearresult">清空搜索结果</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script src="/javascripts/admin.js"></script>
</body>

</html>