<!DOCTYPE html>
<html>

<head>
    <title>
        登录页
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well">
                <form action="/signup" method="POST" role="form">
                    <h3>登录</h3>
                    <span>未注册？</span>
                    <a href="/signup">请注册</a>

                    <div class="form-group">
                        <label for="">用户名</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>

                    <div class="form-group">
                        <label for="">密码</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>


                    <button type="submit" class="btn btn-primary">登录</button>
                </form>
            </div>
        </div>
    </div>


</body>

</html>