<!DOCTYPE html>
<html>

<head>
    <title>
        注册页
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well">
                <form role="form">
                    <h3>注册</h3>
                    <span>已注册？</span>
                    <a href="/signin">请登录</a>
                    <div class="form-group">
                        <p class="hide userinfo">用户名以字母开头,且为4-16位</p>
                        <label for="">用户名</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <p class="hide pswinfo">密码为4-16位字母数字组合</p>
                        <label for="">密码</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>


                    <button type="submit" class="btn btn-primary" id="btn">注册</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            var user = $("#username");
            var psw = $("#password");
            //用户名正则验证字母开头,4-16位
            var userreg = /^[a-zA-Z][a-zA-Z0-9]{3,15}$/;
            //密码正则验证4-16任意字母数字
            var pswreg = /^[a-zA-Z0-9]{4,10}$/;
            user.on("change", function () {
                if (!userreg.test(user.val())) {
                    $(".userinfo").addClass("show");
                } else {
                    $(".userinfo").removeClass("show");
                }
            });
            psw.on("change", function () {
                if (!pswreg.test(psw.val())) {
                    $(".pswinfo").addClass("show");
                } else {
                    $(".pswinfo").removeClass("show");
                }
            });
            $("#btn").on("click", function (e) {
                e.preventDefault();
                //正则验证用户名.密码
                if (user.val() && psw.val()) {
                    $.post("/users/signup", {
                        username: $("#username").val(),
                        password: $("#password").val(),
                    }, function (data) {
                        if (data == 0) {
                            alert("用户名重复请重试");
                        } else {
                            alert("注册成功");
                            location.assign("./signin");
                        }
                    });
                } else {
                    alert("用户名、密码不能为空");
                }

            });
        });
    </script>
</body>

</html>