body {
  padding: 50px;
  font-size: 16px;
  font-family: "微软雅黑";
}

a {
  color: #00B7FF;
}

/* 省略号 */
.ellipsis {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  visibility: hidden;
}